<li>
	{{name}}

	<button class="devourBurger" data-id="{{id}}" data-burgerDevoured="{{devour}}">
		{{#if devoured}}DEVOUR!{{/else}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">DELETE!</button>
</li>
